# Database Address
# Since pg_trgm and asyncpg are used: postgresql+asyncpg://<username>:<password>@localhost:5432/dms_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/dms_db

# File Storage Configs
STORAGE_ROOT=d:\Document_manager_system\storage
MAX_FILE_SIZE_MB=25

# JWT Secrets
JWT_SECRET=supersecretchangeinproduction1234567890!@#$
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
