# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.local
.env.*.local

# Node/JS/TS
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Application
/storage/
dms_db/
